version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4200:4200'
    environment:
      NODE_ENV: production
    volumes:
      - .:/app
    command: ['node', 'dist/main']
